/.svn
/Development/.vs
/Development/bin
/Development/Gurux.Data.Relay.Shared/bin
/Development/Gurux.Data.Relay.Shared/obj
/Development/Gurux.Data.Relay.Web/Client/bin
/Development/Gurux.Data.Relay.Web/Client/obj
/Development/Gurux.Data.Relay.Web/Server/bin
/Development/Gurux.Data.Relay.Web/Server/obj
/Development/obj
/Test
Development/Gurux.Data.Relay.Web/Server/gurux.data.relay.settings.json
Development/Gurux.Data.Relay.Web/Server/Gurux.Data.Relay.db
